<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Підключення Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <a href="/login_pg" class="btn btn-primary mr-3">Залогінитися!</a>
    <a href="/sign_up_pg" class="btn btn-success mr-3">Зареєструватися!</a>
    <a href="/weather_pg" class="btn btn-info">Погода!</a>
  </div>
</body>
</html>