<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static\js_script.js"></script>
</head>
<body>
<form id="signup-form" action="/signup" method="post">
    <h1>Name:</h1>
    <input type="text" id="name" name="name">
    <h1>Password:</h1>
    <input type="text" id="password" name="password">
    <h1>Email:</h1>
    <input type="text" id="email" name="email">
    <input type="submit" id="btn" name="btn" value="Зареєструватися">
  </form>
  <div id="result"></div>

</body>
</html>